<div class="panel-group" id="accordion">
    <div class="panel panel-default">
    	<button id="id_new_reminder_btn" type="button" class="btn btn-danger btn-block" 
    	data-toggle="collapse" data-parent="#accordion" 
    	href="#id_new_reminder_btn_panel">Create a new reminder!</button>
        <div id="id_new_reminder_btn_panel" class="panel-collapse collapse">
        	<div class="panel-body">
                <form class="horizontal-form" role="form" method="POST" 
                    action="/reminders/{{ list.id }}/">
                    <div class="form-group">
    	        		<input name="reminder_title" id="id_title" placeholder="Enter a reminder" />
    	        		<input name="reminder_alarm" id="id_alarm" placeholder="MM/DD/YYYY" />
    	        		<input name="reminder_snooze" id="id_snooze" placeholder="Enter snooze" />
    	        		<input name="reminder_repeat" id="id_repeat" placeholder="Enter repeat" />
                        {% csrf_token %}
                        {% if error %}
                            <div class="form-group has-error">
                                <span class="help-block">{{ error }}</span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default" id="id_create_button">Create</button>
                    </div>
                </form>
        	</div>
        </div>
    </div>
</div>

<div class="panel-group" id="id_reminder_list">
    {% for reminder in list.reminder_set.all %}
            <div class="panel panel-default">
                <button id="id_reminder_btn_{{forloop.counter}}" type="button" class="btn btn-danger btn-block"
                data-toggle="collapse" data-parent="#id_reminder_list"
                href="#id_reminder_btn_{{forloop.counter}}_panel">{{forloop.counter}}: {{ reminder.title }}</button>
                <div id="id_reminder_btn_{{forloop.counter}}_panel" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form class="horizontal-form" role="form" method="POST" 
                            action="/reminders/{{ list.id }}/edit_reminder/{{ reminder.pk }}">
                            <div class="form-group">
                                <input name="reminder_title_{{ reminder.pk }}" id="id_title" 
                                value="{{ reminder.title }}" />
                                <input name="reminder_alarm_{{ reminder.pk }}" id="id_alarm" 
                                value="{{ reminder.alarm|date:'Y-m-d' }}" />
                                <input name="reminder_snooze_{{ reminder.pk }}" id="id_snooze" 
                                value="{{ reminder.snooze }}" />
                                <input name="reminder_repeat_{{ reminder.pk }}" id="id_repeat" 
                                value="{{ reminder.repeat }}" />
                                {% csrf_token %}
                                {% if error %}
                                    <div class="form-group has-error">
                                        <span class="help-block">{{ error }}</span>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default" id="id_update_button">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    {% endfor %}
</div>