<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Reminders{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <h1>{% block header_text %}{% endblock %}</h1>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <button id="id_new_reminder_btn" type="button" class="btn btn-danger btn-block" 
                            data-toggle="collapse" data-parent="#accordion" 
                            href="#id_new_reminder_btn_panel">Create a new reminder!</button>
                            <div id="id_new_reminder_btn_panel" class="panel-collapse collapse">
                                <div class="panel-body">
                                <form class="horizontal-form" role="form" method="POST" 
                                    action={% block new_action %}{% endblock %}>
                                {% block create %}
                                {% endblock %}
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-default" id="id_submit_button">Create</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-group" id="id_reminder_list">
                        {% for form, reminder_pk in forms %}
                            <div class="panel panel-default">
                                <button id="id_reminder_btn_{{ forloop.counter }}" type="button" class="btn btn-danger btn-block" 
                                data-toggle="collapse" data-parent="#id_reminder_list" 
                                href="#id_reminder_btn_{{ forloop.counter }}_panel">{{ forloop.counter }}: {{ form.title.value }}</button>
                                <div id="id_reminder_btn_{{ forloop.counter }}_panel" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    <form class="horizontal-form" role="form" method="POST" 
                                        action={% block existing_action %}{% endblock %}>
                                    {% block reminders %}
                                    {% endblock %}
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-default" id="id_submit_button_{{ forloop.counter }}">Update</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div> 

                </div>
            </div>
        </div>
        {% block javascript %}
            <script src="http://code.jquery.com/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>