<body>
    <div align="right" class="page-header">
        <h3>
			<a href="http://thomp.info:8000/reminders/">Reminders Title Placeholder</a>
			<a href="http://thomp.info:8000/reminders/logout/">Logout</a>
			<a href="http://thomp.info:8000/reminders/home/">Manage</a>
			<a href="http://thomp.info:8000/reminders/add/">Add Reminder</a>
		</h3>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
