{% comment %}
	From docs:
	"If you're manually laying out a form in a template,..., you might
	want to treat <input type="hidden"> fields differently from non-hidden
	fields..." Right now we aren't, but we still need to handle the hidden input
{% endcomment %}
{% if field.is_hidden %}
	{{ field }}
{% else %}
	

	{% block control_group %}
		<div class="form-group {% if field.errors %}has-error{% endif %}">
			{% block widget %}
				{% comment %}For some reason if we remove {{ field }} 
				and errors are in the field, inputs stop will stop showing. 
				Seemingly this makes sense but inputs appear if error block 
				fails.
				{% endcomment %}
				<div class="fieldWrapper">{{ field.label_tag }}{{ field }}</div>
			{% endblock %}

			{% block errors %}
				{% for error in field.errors %}
					{{ error }}
				{% endfor %}
			{% endblock %}
		</div>
	{% endblock %}
{% endif %}