{% extends 'reminders/base.html' %}

{% block title %}Your Reminders{% endblock %}

{% block cdn_css %}{{ block.super }}{% endblock %}

{% block extrahead %}
	{% if user.is_authenticated %}<a href="{% url 'account_logout' %}" id="id_logout">Logout</a>{% endif %}
{% endblock %}

{% block content %}
	<header><h1>Your Reminders</h1></header>

	{% with style='horizontal' name='Create!' %}
		{% include 'reminders/reminder_button_form.html' with form_id='new_reminder_form' submit_id='new_reminder_button' button_name='Create a new reminder!' %}
	{% endwith %}

	<div class="panel-group" id="id_reminder_list">
		{% for form, reminder_pk in forms %}
			{% with style='horizontal' name='Update' %}
				{% url 'edit_reminder' reminder_pk as form_action %}
				{% include 'reminders/reminder_button_form.html' with form_id='reminder_form' action=form_action submit_id='existing_reminder_button' button_name=form.title.value %}
			{% endwith %}
		{% endfor %}
	</div>

{% endblock %}

{% block cdn_scripts %}{{ block.super }}{% endblock %}