<div class="panel panel-default" id="id_reminder_panel_{{ forloop.counter }}">
	<div class="panel-heading">
		<button id="id_reminder_btn" type="button" class="btn btn-{{ alert|default:"danger" }} btn-block" 
 			data-toggle="collapse" href="#id_reminder_collapse_{{ forloop.counter }}" >
 			{% if forloop.counter %}{{ forloop.counter }}: {% endif %}
 			{% if button_name %}{{ button_name }}{% endif %}
 		</button>
 		{% comment %}
 			The reminder_list.html is rendered with 'form' and a list of 'forms'
 			where 'form' is a new reminder form, and 'forms' are existing reminders.
 			Thus, {% if form.errors %} tag below corresponds to the new reminder 
 			form 'form' outside of the {{ forloop }}, but to an existing reminder
 			inside the for loop.
 		{% endcomment %}
		<div id="id_reminder_collapse_{{ forloop.counter }}" 
			class="panel-collapse collapse{% if form.errors %}-in{% endif %}">
			<div class="panel-body">
				{% include 'reminders/form.html' %}
			</div>
		</div>
	</div>
</div>