<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
<body>
<div class="content container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel-group" id="accordion">
          <div class="panel panel-default">
          	<button onlick="" id="id_new_reminder_btn" type="button" class="btn btn-danger btn-block" data-toggle="collapse" data-parent="#accordion" href="#id_new_reminder_collapse">Create a new reminder!</button>
              <div id="id_new_reminder_collapse" class="panel-collapse collapse">
                  <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>